<%- include('partials/header'); -%>

<h1>Home</h1>
<%= homeContent %></>

<% blogPost.forEach(function(post){ %>
    <h1><%=post.title%></h1>
    
    <p><%=post.body.substring(0,101)%> ... <a href="/posts/<%=post.title%>" >Read More</a></p>
<% }) %>

<%- include('partials/footer'); -%>